{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}
containers:
  # adguard:
  #   action_keywords:
  #     - restart:
  #         regex: '\[error\] dnsproxy.*timeout'
  ghost_blog:
    action_keywords:
      - restart:
          regex: 'Connection Error.*ECONNRESET$'
  immich-server:
    action_keywords:
      - restart:
          regex: '(ENOTFOUND|Error|ECONNREFUSED)'
  invidious:
    action_keywords:
      - restart:
          regex: 'Error reading.*Connection reset by peer trying to reconnect\.\.\.'
  maxun-backend:
    action_keywords:
      - restart:
          regex: '[Ee]rror'
  planka:
    action_keywords:
      - restart:
          regex: 'Failed to lift app: Sails is taking too long to load.$'
  searxng:
    action_keywords:
      - restart:
          regex: 'Traceback \(most recent call last\)'
  scrutiny:
    action_keywords:
      - restart:
          regex: 's6-.*: fatal.*'
  swag:
    action_keywords:
      - restart:
          regex: 's6-.*: fatal.*$'
global_keywords:
  keywords:
    - panic
  keywords_with_attachment:
    - fatal
notifications:
  apprise:
    url: gotify://gotify/{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['APPRISE_GOTIFY_TOKEN'] }}    # Any Apprise-compatible URL (https://github.com/caronc/apprise/wiki)
# settings are optional because they all have default values
settings:
  log_level: INFO               # DEBUG, INFO, WARNING, ERROR
  notification_cooldown: 5      # Seconds between alerts for same keyword (per container)
  attachment_lines: 20          # Number of Lines to include in log attachments
  multi_line_entries: true      # Detect multi-line log entries
  disable_restart: false        # Disable restart when a config change is detected
  disable_start_message: false  # Suppress startup notification
  disable_shutdown_message: false  # Suppress shutdown notification
  disable_restart_message: false   # Suppress config reload notification