{
  "mcpServers": {
    "context7": {
      "type": "streamable-http",
      "url": "http://context7-mcp:8000/mcp"
    },
    "gitea": {
      "type": "streamable-http",
      "url": "http://gitea-mcp:8000/mcp"
    },
    "searxng": {
      "type": "streamable-http",
      "url": "http://searxng-mcp:8000/mcp"
    },
    "signoz": {
      "type": "streamable-http",
      "url": "http://signoz-mcp-server:8000/mcp"
    }
  }
}
