{
  "global": {
    "debugMode": false,
    "disableWeb": false,
    "baseUrl": "http://<YOUR_HOST>:9078",
    "port": 9078,
    "logLevel": "info"
  },

  "sourceDefaults": {
    "logPayload": false,
    "logFilterFailure": "warn",
    "logPlayerState": false,
    "scrobbleThresholds": {
      "duration": 30,
      "percent": 20
    },
    "maxPollRetries": 1,
    "maxRequestRetries": 1,
    "retryMultiplier": 1.5
  },

  "clientDefaults": {
    "maxRequestRetries": 1,
    "retryMultiplier": 1.5
  },

  "sources": [
    {
      "type": "lastfm",
      "enabled": true,
      "name": "lastfmSource",
      "clients": ["ListenBrainzClient", "malojaClient"],
      "data": {
        "apiKey": "{{ vault.kv2_field('env','LASTFM_API_KEY', vault_engine_mount_point) }}",
        "secret": "{{ vault.kv2_field('env','LASTFM_API_SECRET', vault_engine_mount_point) }}",
        "redirectUri": "https://scrobble.trez.wtf/lastfm/callback"
      }
    },
    {
      "type": "listenbrainz",
      "enabled": true,
      "name": "listenBrainzSource",
      "clients": ["lastFmClient", "malojaClient"],
      "data": {
        "token": "{{ vault.kv2_field('env','MALOJA_LISTENBRAINZ_TOKEN', vault_engine_mount_point) }}",
        "username": "Trez.One"
      }
    },
    {
      "type": "subsonic",
      "enabled": true,
      "name": "navidromeSource",
      "clients": ["lastFmClient", "ListenBrainzClient", "malojaClient"],
      "data": {
        "url": "http://navidrome:4533",
        "user": "admin",
        "password": "{{ vault.kv2_field('env','NAVIDROME_PASSWORD', vault_engine_mount_point) }}"
      }
    }
  ],

  "clients": [
    {
      "type": "lastfm",
      "enabled": true,
      "name": "lastFmClient",
      "data": {
        "apiKey": "{{ vault.kv2_field('env','LASTFM_API_KEY', vault_engine_mount_point) }}",
        "secret": "{{ vault.kv2_field('env','LASTFM_API_SECRET', vault_engine_mount_point) }}",
        "redirectUri": "https://scrobble.trez.wtf/lastfm/callback"
      }
    },
    {
      "type": "listenbrainz",
      "enabled": true,
      "name": "ListenBrainzClient",
      "data": {
        "token": "{{ vault.kv2_field('env','MALOJA_LISTENBRAINZ_TOKEN', vault_engine_mount_point) }}",
        "username": "Trez.One"
      }
    },
    {
      "type": "maloja",
      "enabled": true,
      "name": "malojaClient",
      "data": {
        "url": "http://maloja:42010",
        "apiKey": "{{ vault.kv2_field('env','MALOJA_API_KEY', vault_engine_mount_point) }}"
      }
    }
  ],

  "webhooks": [
    {
      "name": "Gotify",
      "type": "gotify",
      "url": "http://gotify",
      "token": "{{ vault.kv2_field('env','MULTI_SCROBBLER_GOTIFY_TOKEN', vault_engine_mount_point) }}",
      "priorities": {
        "info": 5,
        "warn": 7,
        "error": 10
      }
    }
  ]
}