{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

{
  "debugMode": false,
  "disableWeb": false,
  "sourceDefaults": {
    "logPayload": false,
    "logFilterFailure": "warn",
    "logPlayerState": false,
    "scrobbleThresholds": {
      "duration": 30,
      "percent": 20
    },
    "maxPollRetries": 1,
    "maxRequestRetries": 1,
    "retryMultiplier": 1.5
  },
  "clientDefaults": {
    "maxRequestRetries": 1,
    "retryMultiplier": 1.5
  },
  "sources": [
    {
      "type": "spotify",
      "enable": true,
      "clients": ["lastfmClient", "ListenBrainzClient", "maloja"],
      "name": "spotifySource",
      "data": {
        "clientId": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['YOUR_SPOTIFY_ID'] }}",
        "clientSecret": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['YOUR_SPOTIFY_SECRET'] }}",
        "redirectUri": "https://scrobble.trez.wtf/callback"
      }
    },
    {
      "type": "lastfm",
      "enable": true,
      "clients": ["ListenBrainzClient", "maloja"],
      "configureAs": "source",
      "name": "lastfmSource",
      "data": {
        "apiKey": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['LASTFM_API_KEY'] }}",
        "secret": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['LASTFM_API_SECRET'] }}",
        "redirectUri": "https://scrobble.trez.wtf/lastfm/callback"
      }
    },
    {
      "type": "listenbrainz",
      "enable": true,
      "clients": ["lastfmClient", "maloja"],
      "name": "listenBrainzSource",
      "data": {
        "token": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['MALOJA_LISTENBRAINZ_TOKEN'] }}",
        "username": "Trez.One"
      }
    },
    {
      "type": "subsonic",
      "enable": true,
      "clients": ["lastfmClient", "ListenBrainzClient", "maloja"],
      "name": "navidromeSource",
      "data": {
        "url": "http://navidrome:4533",
        "user": "admin",
        "password": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['NAVIDROME_PASSWORD'] }}"
      }
    }
  ],
  "clients": [
    {
      "type": "lastfm",
      "enable": true,
      "name": "lastFmClient",
      "configureAs": "client",
      "data": {
        "apiKey": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['LASTFM_API_KEY'] }}",
        "secret": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['LASTFM_API_SECRET'] }}",
        "redirectUri": "https://scrobble.trez.wtf/lastfm/callback"
      }
    },
    {
      "type": "listenbrainz",
      "enable": true,
      "name": "ListenBrainzClient",
      "data": {
        "token": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['MALOJA_LISTENBRAINZ_TOKEN'] }}",
        "username": "Trez.One"
      }
    },
    {
      "type": "maloja",
      "enable": true,
      "name": "malojaClient",
      "data": {
        "url": "http://maloja:42010",
        "apiKey": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['MALOJA_API_KEY'] }}"
      }
    }
  ],
  "webhooks": [
    {
      "name": "Gotify",
      "type": "gotify",
      "url": "http://gotify",
      "token": "{{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['MULTI_SCROBBLER_GOTIFY_TOKEN'] }}",
      "priorities": {
        "info": 5,
        "warn": 7,
        "error": 10
      }
    }
  ]
}
