{% import 'app-configs/_macros/hashivault_kv2.j2' as vault %}


{
  "url": "blog.trez.wtf",
  "database": {
    "client": "mysql",
    "connection": {
      "host"     : "mariadb",
      "port"     : 3306,
      "user"     : "ghost",
      "password" : "\{\{ vault.kv2_field\('env', 'GHOST_DB_PASSWORD', vault_engine_mount_point) }}",
      "database" : "ghost_db"
    }
  },
  "mail": {
    "from": "'Ghost @ Rinoa' <noreply@trez.wtf>",
    "transport": "SMTP",
    "options": {
      "host": "postal-smtp",
      "port": 25,
      "secure": false,
      "auth": {
        "user": "\{\{ vault.kv2_field\('env', 'POSTAL_SMTP_AUTH_USER', vault_engine_mount_point) }}",
        "pass": "\{\{ vault.kv2_field\('env', 'POSTAL_SMTP_AUTH_PASSWORD', vault_engine_mount_point) }}"
      }
    }
  },
  "paths": {
    "contentPath": "content/"
  },
  "privacy": {
    "useGravatar": true
  },
  "logging": {
    "level": "info",
    "rotation": {
      "enabled": true
    },
    "transports": ["file"]
  }
}