{% import 'app-configs/_macros/hashivault_kv2.j2' as vault %}



---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/docker/

# my-docker:
#   host: 127.0.0.1
#   port: 2375

 my-docker:
   host: dockerproxy
   port: 2375
