{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

#- My First Group:
#    - My First Service:
#        href: http://localhost/
#        description: Homepage is awesome
#
#- My Second Group:
#    - My Second Service:
#        href: http://localhost/
#        description: Homepage is the best
#
#- My Third Group:
#    - My Third Service:
#        href: http://localhost/
#        description: Homepage is 😎

- System Administration:
    - PatchMon
        href: https://patch.trez.wtf
        description: Patch management for *NIX and Windows
        icon: patchmon.svg
        weight: 0
        widget:
            type: customapi
            url: http://192.168.1.252:3000/api/v1/gethomepage/stats
            headers:
                Authorization: Basic {{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['PATCHMON_API_BASE64_CREDS'] }}
            mappings:
                - field: total_hosts
                  label: Total Hosts
                - field: hosts_needing_updates
                  label: Needs Updates
                - field: security_updates
                  label: Security Updates

- Automation:
    - Home Assistant (Rikku):
        href: https://ha.trez.wtf
        description: Smart Home
        icon: home-assistant.png
        weight: 0
        widget:
            type: homeassistant
            url: http://192.168.1.252:8123
            key: {{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['HOMEPAGE_HOME_ASSISTANT_API_KEY'] }}

- Media Library:
    - Audiomuse:
        href: https://muse.trez.wtf
        description: Automatic playlist generation using AI
        icon: /icons/audiomuseai.png
        weight: 0