{% import 'app-configs/_macros/hashivault_kv2.j2' as vault %}


---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/services

#- My First Group:
#    - My First Service:
#        href: http://localhost/
#        description: Homepage is awesome
#
#- My Second Group:
#    - My Second Service:
#        href: http://localhost/
#        description: Homepage is the best
#
#- My Third Group:
#    - My Third Service:
#        href: http://localhost/
#        description: Homepage is 😎

- System Administration:
    - PatchMon:
        href: https://patch.trez.wtf
        description: Patch management for *NIX and Windows
        icon: patchmon.svg
        weight: 0
        widget:
            type: customapi
            url: http://192.168.1.252:3000/api/v1/gethomepage/stats
            headers:
                Authorization: Basic {{ vault.kv2_field('env', 'PATCHMON_API_BASE64_CREDS', vault_engine_mount_point) }}
            mappings:
                - field: total_hosts
                  label: Total Hosts
                - field: hosts_needing_updates
                  label: Needs Updates
                - field: security_updates
                  label: Security Updates

- Automation:
    - Home Assistant (Rikku):
        href: https://ha.trez.wtf
        description: Smart Home
        icon: home-assistant.png
        weight: 0
        widget:
            type: homeassistant
            url: http://192.168.1.252:8123
            key: {{ vault.kv2_field('env', 'HOMEPAGE_HOME_ASSISTANT_API_KEY', vault_engine_mount_point) }}

- Media Library:
    - Audiomuse:
        href: https://muse.trez.wtf
        description: Automatic playlist generation using AI
        icon: /icons/audiomuseai.png
        weight: 0