{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}

---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/settings

providers:
  openweathermap: {{ lookup('community.hashi_vault.vault_kv2_get', 'env', engine_mount_point='rinoa-docker', url=vault_addr, token=vault_token)['secret']['HOMEPAGE_OPENWEATHERMAP_API_KEY'] }}
  # weatherapi: weatherapiapikey
title: Rinoa Dashboard (trez.WTF)
headerStyle: underlined
color: slate
showStats: false
statusStyle: "dot"
favicon: /icons/favicon.ico
useEqualHeights: true
hideErrors: true
searchDescriptions: true
showSearchSuggestions: true
provider: duckduckgo

layout:
  System Administration:
    style: row
    columns: 5
  Infrastructure/App Performance Monitoring:
    style: row
    columns: 5
  Code/DevOps:
    style: row
    columns: 3
  Social:
    style: row
    columns: 3
  Lifestyle:
    style: row
    columns: 5
  Automation:
    style: row
    columns: 5
  Privacy/Security:
    style: row
    columns: 5
  Personal Tools:
    style: row
    columns: 4
  Professional Services:
    style: row
    columns: 5
  Servarr Stack:
    style: row
    columns: 3
  Downloaders:
    style: row
    columns: 5
  Media Library:
    style: row
    columns: 5
