{% import 'app-configs/_macros/hashivault_kv2.j2' as vault %}


---
# For configuration options and examples, please see:
# https://gethomepage.dev/en/configs/settings

providers:
  openweathermap: {{ vault.kv2_field('env','HOMEPAGE_OPENWEATHERMAP_API_KEY', vault_engine_mount_point) }}
  # weatherapi: weatherapiapikey
title: Rinoa Dashboard (trez.WTF)
headerStyle: underlined
color: slate
showStats: false
statusStyle: "dot"
favicon: /icons/favicon.ico
useEqualHeights: true
hideErrors: true
searchDescriptions: true
showSearchSuggestions: true
provider: duckduckgo

layout:
  System Administration:
    style: row
    columns: 4
  Infrastructure/App Performance Monitoring:
    style: row
    columns: 5
  Code/DevOps:
    style: row
    columns: 3
  Social:
    style: row
    columns: 3
  Lifestyle:
    style: row
    columns: 5
  Automation:
    style: row
    columns: 5
  Privacy/Security:
    style: row
    columns: 5
  Personal Tools:
    style: row
    columns: 4
  Professional Services:
    style: row
    columns: 5
  Servarr Stack:
    style: row
    columns: 3
  Downloaders:
    style: row
    columns: 5
  Media Library:
    style: row
    columns: 5
