{% import 'app-configs/_macros/hashivault_kv2.j2' as vault %}

name: mariadb-backup
description: "Backup of all databases from MariaDB container"
schedule: "30 23 * * *"

env:
  MARIADB_ROOT_PASSWORD: {{ vault.kv2_field('env','MARIADB_ENVIRONMENT_MYSQL_ROOT_PASSWORD', vault_engine_mount_point) }}

steps:
  - name: list-all-databases
    shell: nix-shell
    shellPackages: [mariadb]
    command: |
      mariadb -h mariadb -u root -p"${MARIADB_ROOT_PASSWORD}" -Nse "SHOW DATABASES;" | egrep -v '(information|performance)_schema|mysql|sys'
    output: RINOA_MADB_LIST

  - name: db-folder-check-creation-backup
    depends: list-all-databases
    shell: nix-shell
    shellPackages: [mariadb]
    workingDir: /backups/dbs/mariadb
    script: |
      for mdatabase in $(echo ${RINOA_MADB_LIST}) ; do
        mkdir -p ${mdatabase}
        mariadb_dump --u root --p"${MARIADB_ROOT_PASSWORD}" --databases ${madb} > ${mdatabase}/dump-$(date +%Y%m%d)-$(cat /proc/sys/kernel/random/uuid).sql
      done

  - name: db-backup-cleanup
    depends:
      - db-folder-check-creation-backup
    workingDir: /backups/dbs/mariadb
    command: >
      find $(pwd) -type f -name "*.sql" -ctime +7 | xargs rm -fv