{% set vault_addr = 'https://vault.trez.wtf' %}
{% set secrets_path = 'rinoa-docker/env' %}
source: journalctl
journalctl_filter:
  - "--directory=/var/log/host/"
labels:
  type: syslog
---
filenames:
  - /var/log/swag/*
labels:
  type: nginx
---
filenames:
  - /var/log/auth/auth.log
labels:
  type: syslog
---
filenames:
  - /var/lib/mysql/log/mysql/*
  - /var/lib/mysql/databases/*.err
  - /var/lib/mysql/databases/*.log
labels:
  type: mariadb
---
source: docker
container_name:
  - adguard
labels:
  type: adguardhome
---
source: docker
container_name:
 - mongodb
labels:
  type: mongodb
---
source: docker
container_name:
 - immich-server
labels:
  type: immich
---
source: docker
container_name:
 - uptimekuma
labels:
  type: uptime-kuma
---
source: docker
container_name:
 - jellyfin
labels:
  type: jellyfin
---
source: docker
container_name:
 - navidrome
labels:
  type: navidrome
---
filenames:
  - /var/log/audiobookshelf/*.txt
labels:
  type: audiobookshelf