{% import 'app-configs/_macros/hashivault_kv2.j2' as vault %}


url: https://api.crowdsec.net/
login: \{\{ vault.kv2_field\('env', 'CROWDSEC_ONLINE_PASSWORD', vault_engine_mount_point) }}
password: \{\{ vault.kv2_field\('env', 'CROWDSEC_ONLINE_PASSWORD', vault_engine_mount_point) }}