{{if .RequireHighlightJS}}
<script src="https://git.trez.wtf/assets/deflate.js"></script>
<script src="https://git.trez.wtf/assets/encode.js"></script>
<script src="https://git.trez.wtf/assets/plantuml_codeblock_parse.js"></script>
<script>
parsePlantumlCodeBlocks("https://plantuml.trez.wtf")
</script>
{{end}}